In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/ds_beforeduplication.csv')
df

,Unnamed: 0,Name,Genres,Summary
0,1,A Clockwork Orange,Science Fiction,"Alex, a teenager living in near-future Englan..."
1,6,A Wizard of Earthsea,Children's literature,"Ged is a young boy on Gont, one of the larger..."
2,8,Blade Runner 3: Replicant Night,Science Fiction,"Living on Mars, Deckard is acting as a consul..."
3,9,Blade Runner 2: The Edge of Human,Science Fiction,Beginning several months after the events in ...
4,21,Children of Dune,Science Fiction,Nine years after Emperor Paul Muad'dib walked...
...,...,...,...,...
8794,16541,Nevermore: The Final Maximum Ride Adventure,Young adult literature,The prologue is Angel's vision of Max's death...
8795,16542,The Bourne Imperative,Thriller,:For a more detailed background of the main c...
8796,16551,Remote Control,Thriller,The series follows the character of Nick Ston...
8797,16555,Transfer of Power,Thriller,The reader first meets Rapp while he is doing...
8798,16556,Decoded,autobiography,The book follows very rough chronological ord...

In [ ]:
dfAug=pd.read_csv('/content/augmentedDataWithoutStemming.csv')
dfAug

,Unnamed: 0,Unnamed: 0.1,Name,Genres,Summary
0,0,1,A Clockwork Orange,Science Fiction,alex teenager living near future england lead...
1,1,6,A Wizard of Earthsea,Children's literature,ged young boy gont one larger islands north a...
2,2,8,Blade Runner 3: Replicant Night,Science Fiction,living mars deckard acting consultant movie c...
3,3,9,Blade Runner 2: The Edge of Human,Science Fiction,beginning several months events blade runner ...
4,4,21,Children of Dune,Science Fiction,nine years emperor paul muad dib walked deser...
...,...,...,...,...,...
21864,21864,16414,Carver,Thriller,central character samuel carver ex assassin s...
21865,21865,16442,Rabies,Thriller,seth betimes 1980s height insensate war novel...
21866,21866,16542,The Bourne Imperative,Thriller,detailed background main character see jason ...
21867,21867,16551,Remote Control,Thriller,series follows character nick stone ex milita...
21868,21868,16555,Transfer of Power,Thriller,reader first base meets rapp covert operation...

In [ ]:
X=df.Summary
Y=df.Genres.values
X.shape, Y.shape

((8799,), (8799,))

In [ ]:
XAug=dfAug.Summary
YAug=dfAug.Genres.values
XAug.shape, YAug.shape

((21869,), (21869,))

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics import classification_report

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state = 42)

In [ ]:
XAug_train, XAug_test, YAug_train, YAug_test = train_test_split(XAug, YAug, test_size=0.3, random_state = 42)

# SGD Classifier:

In [ ]:
from sklearn.linear_model import SGDClassifier

sgd = Pipeline([('vect', CountVectorizer(ngram_range=(1,3))),
                ('tfidf', TfidfTransformer()),
                ('clf', SGDClassifier(loss='hinge', penalty='l2',alpha=1e-3, random_state=42, max_iter=5, tol=None)),
               ])

In [ ]:
sgd.fit(X_train, Y_train)

Pipeline(steps=[('vect', CountVectorizer(ngram_range=(1, 3))),
                ('tfidf', TfidfTransformer()),
                ('clf',
                 SGDClassifier(alpha=0.001, max_iter=5, random_state=42,
                               tol=None))])

In [ ]:
Y_pred = sgd.predict(X_test)

In [ ]:
print('accuracy %s' % accuracy_score(Y_pred, Y_test))
print(classification_report(Y_test, Y_pred))

accuracy 0.5037878787878788
                        precision    recall  f1-score   support

       Adventure novel       1.00      0.31      0.47        13
             Biography       1.00      0.09      0.17        11
 Children's literature       0.54      0.69      0.61       337
               Fantasy       0.62      0.34      0.44       195
                Horror       0.27      0.11      0.15        28
      Literary fiction       0.00      0.00      0.00         6
                Memoir       0.00      0.00      0.00        14
               Mystery       0.76      0.51      0.61       248
           Non-fiction       0.57      0.33      0.42        51
                 Novel       0.34      0.21      0.26       267
            Philosophy       0.00      0.00      0.00         8
          Picture book       0.00      0.00      0.00         8
         Romance novel       1.00      0.07      0.13        14
       Science Fiction       0.45      0.88      0.60       297
           Short story       0.00      0.00      0.00         7
           Spy fiction       0.81      0.66      0.72        32
     Sword and sorcery       1.00      0.40      0.57         5
       Techno-thriller       0.00      0.00      0.00        14
              Thriller       0.66      0.29      0.40       171
         Urban fantasy       0.80      0.33      0.47        12
Young adult literature       0.56      0.27      0.36        89
         autobiography       0.57      0.08      0.14        49
                comedy       0.83      0.16      0.27        63
               fiction       0.47      0.63      0.54       502
            historical       0.44      0.66      0.53       199

              accuracy                           0.50      2640
             macro avg       0.51      0.28      0.31      2640
          weighted avg       0.53      0.50      0.47      2640

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
accSGD = accuracy_score(Y_pred, Y_test)
accSGD

0.5037878787878788