In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics import classification_report
import pandas as pd

In [ ]:
df=pd.read_csv('/content/augmentedDataWithoutStemming.csv')

In [ ]:
df

,Unnamed: 0,Unnamed: 0.1,Name,Genres,Summary
0,0,1,A Clockwork Orange,Science Fiction,alex teenager living near future england lead...
1,1,6,A Wizard of Earthsea,Children's literature,ged young boy gont one larger islands north a...
2,2,8,Blade Runner 3: Replicant Night,Science Fiction,living mars deckard acting consultant movie c...
3,3,9,Blade Runner 2: The Edge of Human,Science Fiction,beginning several months events blade runner ...
4,4,21,Children of Dune,Science Fiction,nine years emperor paul muad dib walked deser...
...,...,...,...,...,...
21864,21864,16414,Carver,Thriller,central character samuel carver ex assassin s...
21865,21865,16442,Rabies,Thriller,seth betimes 1980s height insensate war novel...
21866,21866,16542,The Bourne Imperative,Thriller,detailed background main character see jason ...
21867,21867,16551,Remote Control,Thriller,series follows character nick stone ex milita...
21868,21868,16555,Transfer of Power,Thriller,reader first base meets rapp covert operation...

In [ ]:
X=df.Summary
Y=df.Genres

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state = 42)

# SGD Classfier:

In [ ]:
from sklearn.linear_model import SGDClassifier
clf = Pipeline([
                ('vect', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('clf',SGDClassifier(loss='hinge', penalty='l2',alpha=1e-3, random_state=42, max_iter=5, tol=None)),
               ])

In [ ]:
name = "N-gram Range : (1,1)"

clf.fit(X_train, Y_train)
score = clf.score(X_test, Y_test)

print(name)
y_pred = clf.predict(X_test)

print('accuracy %s' % accuracy_score(y_pred, Y_test))
print(classification_report(Y_test, y_pred))

N-gram Range : (1,1)
accuracy 0.8131382411217802
                        precision    recall  f1-score   support

       Adventure novel       0.94      0.99      0.96       211
             Biography       0.82      1.00      0.90       112
 Children's literature       0.67      0.46      0.55       330
               Fantasy       0.80      0.79      0.80       361
                Horror       0.86      1.00      0.92       299
      Literary fiction       0.89      1.00      0.94        85
                Memoir       0.92      1.00      0.96       145
               Mystery       0.74      0.83      0.78       452
           Non-fiction       0.86      1.00      0.93       466
                 Novel       0.36      0.09      0.15       296
            Philosophy       0.89      0.96      0.92        74
          Picture book       0.90      0.97      0.93       162
         Romance novel       0.86      1.00      0.93       213
       Science Fiction       0.79      0.72      0.76       283
           Short story       0.91      1.00      0.96       107
           Spy fiction       0.87      0.99      0.93       312
     Sword and sorcery       0.89      1.00      0.94        63
       Techno-thriller       0.90      1.00      0.95       131
              Thriller       0.79      0.73      0.76       343
         Urban fantasy       0.92      1.00      0.96        76
Young adult literature       0.75      0.66      0.70       191
         autobiography       0.83      0.98      0.90       443
                comedy       0.89      1.00      0.94       473
               fiction       0.63      0.42      0.50       512
            historical       0.73      0.82      0.77       421

              accuracy                           0.81      6561
             macro avg       0.82      0.86      0.83      6561
          weighted avg       0.79      0.81      0.79      6561

In [ ]:
from sklearn.linear_model import SGDClassifier
clf = Pipeline([
                ('vect', CountVectorizer(ngram_range=(1,2))),
                ('tfidf', TfidfTransformer()),
                ('clf',SGDClassifier(loss='hinge', penalty='l2',alpha=1e-3, random_state=42, max_iter=5, tol=None)),
               ])

In [ ]:
name = "N-gram Range : (1,2)"

clf.fit(X_train, Y_train)
score = clf.score(X_test, Y_test)

print(name)
y_pred = clf.predict(X_test)

print('accuracy %s' % accuracy_score(y_pred, Y_test))
print(classification_report(Y_test, y_pred))

N-gram Range : (1,2)
accuracy 0.8367626886145405
                        precision    recall  f1-score   support

       Adventure novel       0.95      0.99      0.97       211
             Biography       0.88      1.00      0.93       112
 Children's literature       0.69      0.51      0.58       330
               Fantasy       0.83      0.83      0.83       361
                Horror       0.90      1.00      0.95       299
      Literary fiction       0.94      1.00      0.97        85
                Memoir       0.94      1.00      0.97       145
               Mystery       0.77      0.88      0.82       452
           Non-fiction       0.89      1.00      0.94       466
                 Novel       0.52      0.09      0.16       296
            Philosophy       0.91      0.99      0.95        74
          Picture book       0.95      0.97      0.96       162
         Romance novel       0.89      1.00      0.94       213
       Science Fiction       0.77      0.75      0.76       283
           Short story       0.94      1.00      0.97       107
           Spy fiction       0.89      0.99      0.94       312
     Sword and sorcery       0.91      1.00      0.95        63
       Techno-thriller       0.91      1.00      0.95       131
              Thriller       0.85      0.78      0.81       343
         Urban fantasy       0.93      1.00      0.96        76
Young adult literature       0.81      0.72      0.76       191
         autobiography       0.85      1.00      0.92       443
                comedy       0.90      1.00      0.95       473
               fiction       0.65      0.48      0.56       512
            historical       0.73      0.88      0.80       421

              accuracy                           0.84      6561
             macro avg       0.85      0.87      0.85      6561
          weighted avg       0.82      0.84      0.82      6561