In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/content/augmentedDataWithoutStemming.csv')

In [3]:
df

,Unnamed: 0,Unnamed: 0.1,Name,Genres,Summary
0,0,1,A Clockwork Orange,Science Fiction,alex teenager living near future england lead...
1,1,6,A Wizard of Earthsea,Children's literature,ged young boy gont one larger islands north a...
2,2,8,Blade Runner 3: Replicant Night,Science Fiction,living mars deckard acting consultant movie c...
3,3,9,Blade Runner 2: The Edge of Human,Science Fiction,beginning several months events blade runner ...
4,4,21,Children of Dune,Science Fiction,nine years emperor paul muad dib walked deser...
...,...,...,...,...,...
21864,21864,16414,Carver,Thriller,central character samuel carver ex assassin s...
21865,21865,16442,Rabies,Thriller,seth betimes 1980s height insensate war novel...
21866,21866,16542,The Bourne Imperative,Thriller,detailed background main character see jason ...
21867,21867,16551,Remote Control,Thriller,series follows character nick stone ex milita...
21868,21868,16555,Transfer of Power,Thriller,reader first base meets rapp covert operation...

In [4]:
X=df.Summary
Y=df.Genres.values
X.shape, Y.shape

((21869,), (21869,))

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics import classification_report

In [6]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state = 42)

In [7]:
type(X_train), type(Y_train)
X_train.shape, Y_train.shape

((15308,), (15308,))

## Multinomial Naive Bayes Classifier:

In [8]:
from sklearn.naive_bayes import MultinomialNB
nb = Pipeline([('vect', CountVectorizer(ngram_range=(1,3))),
               ('tfidf', TfidfTransformer()),
               ('clf', MultinomialNB()),
              ])
nb.fit(X_train, Y_train)

Pipeline(steps=[('vect', CountVectorizer(ngram_range=(1, 3))),
                ('tfidf', TfidfTransformer()), ('clf', MultinomialNB())])

In [9]:
Y_pred = nb.predict(X_test)

In [10]:
print('accuracy %s' % accuracy_score(Y_pred, Y_test))
print(classification_report(Y_test, Y_pred))

accuracy 0.6224660874866637
                        precision    recall  f1-score   support

       Adventure novel       1.00      0.54      0.70       211
             Biography       1.00      0.14      0.25       112
 Children's literature       0.85      0.14      0.23       330
               Fantasy       0.83      0.76      0.79       361
                Horror       0.99      0.84      0.91       299
      Literary fiction       1.00      0.15      0.27        85
                Memoir       1.00      0.21      0.35       145
               Mystery       0.92      0.81      0.86       452
           Non-fiction       0.81      1.00      0.90       466
                 Novel       0.00      0.00      0.00       296
            Philosophy       1.00      0.07      0.13        74
          Picture book       1.00      0.32      0.49       162
         Romance novel       1.00      0.62      0.77       213
       Science Fiction       1.00      0.32      0.49       283
           Short story       1.00      0.12      0.22       107
           Spy fiction       1.00      0.92      0.95       312
     Sword and sorcery       1.00      0.32      0.48        63
       Techno-thriller       1.00      0.18      0.30       131
              Thriller       0.99      0.42      0.59       343
         Urban fantasy       1.00      0.09      0.17        76
Young adult literature       1.00      0.02      0.03       191
         autobiography       0.42      1.00      0.59       443
                comedy       0.57      1.00      0.72       473
               fiction       0.33      0.85      0.47       512
            historical       0.48      0.90      0.63       421

              accuracy                           0.62      6561
             macro avg       0.85      0.47      0.49      6561
          weighted avg       0.76      0.62      0.58      6561

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

## SGD Classifier

In [11]:
from sklearn.linear_model import SGDClassifier

sgd = Pipeline([('vect', CountVectorizer(ngram_range=(1,3))),
                ('tfidf', TfidfTransformer()),
                ('clf', SGDClassifier(loss='hinge', penalty='l2',alpha=1e-3, random_state=42, max_iter=5, tol=None)),
               ])
sgd.fit(X_train, Y_train)

Pipeline(steps=[('vect', CountVectorizer(ngram_range=(1, 3))),
                ('tfidf', TfidfTransformer()),
                ('clf',
                 SGDClassifier(alpha=0.001, max_iter=5, random_state=42,
                               tol=None))])

In [14]:
Y_pred = sgd.predict(X_test)

In [15]:
print('accuracy %s' % accuracy_score(Y_pred, Y_test))
print(classification_report(Y_test, Y_pred))

accuracy 0.8425544886450236
                        precision    recall  f1-score   support

       Adventure novel       0.95      1.00      0.97       211
             Biography       0.89      1.00      0.94       112
 Children's literature       0.69      0.53      0.60       330
               Fantasy       0.84      0.84      0.84       361
                Horror       0.92      1.00      0.96       299
      Literary fiction       0.98      1.00      0.99        85
                Memoir       0.95      1.00      0.97       145
               Mystery       0.79      0.87      0.83       452
           Non-fiction       0.90      1.00      0.95       466
                 Novel       0.58      0.09      0.16       296
            Philosophy       0.91      0.99      0.95        74
          Picture book       0.96      0.97      0.97       162
         Romance novel       0.89      1.00      0.94       213
       Science Fiction       0.77      0.75      0.76       283
           Short story       0.96      1.00      0.98       107
           Spy fiction       0.91      0.99      0.95       312
     Sword and sorcery       0.91      1.00      0.95        63
       Techno-thriller       0.94      1.00      0.97       131
              Thriller       0.86      0.78      0.82       343
         Urban fantasy       0.93      1.00      0.96        76
Young adult literature       0.82      0.74      0.78       191
         autobiography       0.84      1.00      0.91       443
                comedy       0.91      1.00      0.95       473
               fiction       0.64      0.51      0.57       512
            historical       0.72      0.90      0.80       421

              accuracy                           0.84      6561
             macro avg       0.86      0.88      0.86      6561
          weighted avg       0.83      0.84      0.82      6561

## LinearSVC Classifier

In [25]:
from sklearn.svm import LinearSVC

linear_svc = Pipeline([('vect', CountVectorizer(ngram_range=(1,3))),
                ('tfidf', TfidfTransformer()),
                ('clf', LinearSVC(random_state=0, tol=1e-5)),
               ])
linear_svc.fit(X_train, Y_train)

Pipeline(steps=[('vect', CountVectorizer(ngram_range=(1, 3))),
                ('tfidf', TfidfTransformer()),
                ('clf', LinearSVC(random_state=0, tol=1e-05))])

In [26]:
Y_pred = linear_svc.predict(X_test)

In [27]:
print('accuracy %s' % accuracy_score(Y_pred, Y_test))
print(classification_report(Y_test, Y_pred))

accuracy 0.873190062490474
                        precision    recall  f1-score   support

       Adventure novel       0.98      1.00      0.99       211
             Biography       0.97      1.00      0.99       112
 Children's literature       0.66      0.66      0.66       330
               Fantasy       0.86      0.89      0.88       361
                Horror       0.99      1.00      1.00       299
      Literary fiction       0.99      1.00      0.99        85
                Memoir       0.99      1.00      1.00       145
               Mystery       0.89      0.89      0.89       452
           Non-fiction       0.95      1.00      0.98       466
                 Novel       0.51      0.19      0.27       296
            Philosophy       0.95      1.00      0.97        74
          Picture book       0.99      0.98      0.99       162
         Romance novel       0.98      1.00      0.99       213
       Science Fiction       0.81      0.78      0.79       283
           Short story       0.98      1.00      0.99       107
           Spy fiction       0.98      1.00      0.99       312
     Sword and sorcery       0.95      1.00      0.98        63
       Techno-thriller       1.00      1.00      1.00       131
              Thriller       0.89      0.80      0.84       343
         Urban fantasy       1.00      1.00      1.00        76
Young adult literature       0.85      0.76      0.80       191
         autobiography       0.97      1.00      0.99       443
                comedy       0.98      1.00      0.99       473
               fiction       0.60      0.66      0.63       512
            historical       0.73      0.91      0.81       421

              accuracy                           0.87      6561
             macro avg       0.90      0.90      0.90      6561
          weighted avg       0.87      0.87      0.87      6561