# Read files

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/augmentedDataWithoutStemming.csv')
dfStem=pd.read_csv('/content/augmentedDataWithStemming.csv')

In [ ]:
df

,Unnamed: 0,Unnamed: 0.1,Name,Genres,Summary
0,0,1,A Clockwork Orange,Science Fiction,alex teenager living near future england lead...
1,1,6,A Wizard of Earthsea,Children's literature,ged young boy gont one larger islands north a...
2,2,8,Blade Runner 3: Replicant Night,Science Fiction,living mars deckard acting consultant movie c...
3,3,9,Blade Runner 2: The Edge of Human,Science Fiction,beginning several months events blade runner ...
4,4,21,Children of Dune,Science Fiction,nine years emperor paul muad dib walked deser...
...,...,...,...,...,...
21864,21864,16414,Carver,Thriller,central character samuel carver ex assassin s...
21865,21865,16442,Rabies,Thriller,seth betimes 1980s height insensate war novel...
21866,21866,16542,The Bourne Imperative,Thriller,detailed background main character see jason ...
21867,21867,16551,Remote Control,Thriller,series follows character nick stone ex milita...
21868,21868,16555,Transfer of Power,Thriller,reader first base meets rapp covert operation...

In [ ]:
X=df.Summary
Y=df.Genres.values
X.shape, Y.shape

((21869,), (21869,))

In [ ]:
dfStem

,Unnamed: 0,Unnamed: 0.1,Name,Genres,Summary
0,0,1,A Clockwork Orange,Science Fiction,alex teenag live near futur england lead gang...
1,1,6,A Wizard of Earthsea,Children's literature,ged young boy gont one larger island north ar...
2,2,8,Blade Runner 3: Replicant Night,Science Fiction,live mar deckard act consult movi crew film s...
3,3,9,Blade Runner 2: The Edge of Human,Science Fiction,begin sever month event blade runner deckard ...
4,4,21,Children of Dune,Science Fiction,nine year emperor paul muad dib walk desert b...
...,...,...,...,...,...
21864,21864,16414,Carver,Thriller,central charact samuel carver ex assassin sto...
21865,21865,16442,Rabies,Thriller,seth betim one thousand nine hundr eighti hei...
21866,21866,16542,The Bourne Imperative,Thriller,detail background main charact see jason bour...
21867,21867,16551,Remote Control,Thriller,seri follow charact nick stone ex militari ma...
21868,21868,16555,Transfer of Power,Thriller,reader first base meet rapp covert oper iran ...

In [ ]:
XStem=dfStem.Summary
YStem=dfStem.Genres.values
XStem.shape, YStem.shape

((21869,), (21869,))

# Split the Train and Test Dataset

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics import classification_report

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state = 42)

In [ ]:
XStem_train, XStem_test, YStem_train, YStem_test = train_test_split(XStem, YStem, test_size=0.3, random_state = 42)

# SGD Classifier

## Without Stemming and Lemmatization

In [ ]:
from sklearn.linear_model import SGDClassifier

sgd = Pipeline([('vect', CountVectorizer(ngram_range=(1,3))),
                ('tfidf', TfidfTransformer()),
                ('clf', SGDClassifier(loss='hinge', penalty='l2',alpha=1e-3, random_state=42, max_iter=5, tol=None)),
               ])
sgd.fit(X_train, Y_train)

Pipeline(steps=[('vect', CountVectorizer(ngram_range=(1, 3))),
                ('tfidf', TfidfTransformer()),
                ('clf',
                 SGDClassifier(alpha=0.001, max_iter=5, random_state=42,
                               tol=None))])

In [ ]:
Y_pred = sgd.predict(X_test)

In [ ]:
print('accuracy %s' % accuracy_score(Y_pred, Y_test))
print(classification_report(Y_test, Y_pred))

accuracy 0.8425544886450236
                        precision    recall  f1-score   support

       Adventure novel       0.95      1.00      0.97       211
             Biography       0.89      1.00      0.94       112
 Children's literature       0.69      0.53      0.60       330
               Fantasy       0.84      0.84      0.84       361
                Horror       0.92      1.00      0.96       299
      Literary fiction       0.98      1.00      0.99        85
                Memoir       0.95      1.00      0.97       145
               Mystery       0.79      0.87      0.83       452
           Non-fiction       0.90      1.00      0.95       466
                 Novel       0.58      0.09      0.16       296
            Philosophy       0.91      0.99      0.95        74
          Picture book       0.96      0.97      0.97       162
         Romance novel       0.89      1.00      0.94       213
       Science Fiction       0.77      0.75      0.76       283
           Short story       0.96      1.00      0.98       107
           Spy fiction       0.91      0.99      0.95       312
     Sword and sorcery       0.91      1.00      0.95        63
       Techno-thriller       0.94      1.00      0.97       131
              Thriller       0.86      0.78      0.82       343
         Urban fantasy       0.93      1.00      0.96        76
Young adult literature       0.82      0.74      0.78       191
         autobiography       0.84      1.00      0.91       443
                comedy       0.91      1.00      0.95       473
               fiction       0.64      0.51      0.57       512
            historical       0.72      0.90      0.80       421

              accuracy                           0.84      6561
             macro avg       0.86      0.88      0.86      6561
          weighted avg       0.83      0.84      0.82      6561